.page {
    background-color: #161819;
    /* страница имеет тёмный фон */
    color: white;
    /* цвет текста - белый */
    font-family: 'Lora';
    /* шрифт, кроме оговорённых отдельно случаев, —  'Lora' */
    padding: 120px 0;